name: Deploy Laravel to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 10.63.140.188
          username: iyamif
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/project-testing
            git pull origin main
